//* Text
$default: #65626a;
$linkDefault: #65626a;

//* Color
$colorLight: #DCD9DC;
$colorUltraLight: #f5f5f5;
$white: #fff;

/*
$brandOrange: #cc5422;
$brandOrange2: #f18958;
$brandTurquoise: #45babf;
$brandFuschia:#e94255;
$brandYellow:#fac934;
$brandLightGray:#efefea;
$brandDarkGray:#646269;
$brandClaret: #73123a;
$brandGreenBrown: #b0a683;
*/

$brandOrange: #e95319;
$brandOrange2: #f18958;
$brandTurquoise: #44babf;
$brandFuschia:#e84255;
$brandYellow:#fbc933;
$brandLightGray:#efefea;
$brandDarkGray:#656269;
$brandClaret: #73123a;
$brandGreenBrown: #b0a682;
