$fontBody: 'ITC Avant Garde Gothic Std Book', sans-serif;
$fontHeading: 'ITC Avant Garde Gothic Std Demi', sans-serif;
$fontHeadingMed: 'ITC Avant Garde Gothic Std', sans-serif;
$fontHeadingBold: 'ITC Avant Garde Gothic Std Bold', sans-serif;